* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0e;
  font-size: 100%;
  vertical-align: baseline;
}

h1 {
  width: 550px;
  font-size: 30px;
  text-align: center;
}

.drop_down {
  width: 600px;
  border: 1px solid rgb(197, 195, 195);
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.drop_down img {
  width: 30px;
  height: 30px;
}

.dictionary {
    padding: 0 10%;
}

ul li {
    margin-bottom: 20px;
}